
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
$header-hover-color: rgb(64, 120, 192);
$border-lt-gray: rgb(229, 229, 229);

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
button{
  font-weight: bold;
}
body{
  margin: 0;
}
a {
  text-decoration: none;
  &:visited{
    color: none;
  }
}
img, svg {
  max-width: 100%;
}
svg {
  fill: currentColor;
}
.inner{
  max-width: 1000px;
  margin: 0 auto;
}
input{
  outline: none;
  border: 1px solid $border-lt-gray;
}

#loading-login{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  transition: position .75s ease-out;
  overflow: hidden;
}
.loading-login-inner{
  max-width: 500px;
  border-radius: 5px;
  margin: 50px auto 0 auto;
  padding: 50px;
  text-align: center;
}
#github-login, .or{
  margin-bottom: 25px;
  width: 100%
}
#user-search-input{
  margin-bottom: 12px;
  width: 100%;
  height: 34px;
  padding-left: 15px;
  font-weight: bold;
  border-radius: 3px;
}
#user-search-submit{
  width: 100%;
}
header{
  background: rgba(245, 245, 245, 1);
  border-bottom: 1px solid $border-lt-gray;
  line-height: 28px;
  vertical-align: middle;
  padding: 12px 0;
  li{
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    &:not(:last-of-type){
      margin-right: 12px;
    }
    &:not(:first-of-type){
      margin-left: -4px;
    }
    a{
      color: rgba(50, 51, 51, 1);
      font-weight: bold;
      &:hover{
        color: $header-hover-color;
      }
    }
  }
}
.row{
  @include make-row();
}
.hla-block{
  @include make-sm-column(9);
}
.hra-block{
  @include make-sm-column(3);
}
#user-info{
  @include make-sm-column(3);
  overflow-x: hidden;
}
#tabs{
  @include make-sm-column(9);
}
.right-align{
  text-align: right;
  @media (max-width: $screen-sm-min) {
  text-align: center;
  }

}
.left-align{
  text-align: left;
  @media (max-width: $screen-sm-min) {
  text-align: center;
  }
}
.hla-logo{
  display: inline-block;
  color: black;
  width: 28px;
  height: 28px;
  &:hover{
    color: rgb(64, 120, 192);
  }
}
#hla-search-bar{
  height: 28px;
  padding-left: 10px;
}
#hra-create-new, #hra-profile{
  content: '';
  position: relative;
  z-index: 100;
  & > ul{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid $border-lt-gray;
    text-align: left;
    width: 180px;
    li{
      width: 100%;
      height: auto;
      display: inline-block;
      margin-left: 0;
    }
  }
}
.hra-profile-header{
  display: inline-block;
  height: auto;
  border-bottom: 1px solid $border-lt-gray;
}
.hra-psettings{
  border-top: 1px solid $border-lt-gray;
}
.hra-phbp, .hra-phun{
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 0 10px;
}
.hra-phun{
  font-weight: bold;
}
.hra-down-item{
  padding: 0 10px;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  color: rgba(51, 52, 81, 1);
  &:hover{
    color: white;
    background: rgba(50, 122, 192, 1);
  }
}
.hra-dropdown{
  display: inline-block;
  &:hover, &:active{
    color: $header-hover-color;
  }
}
.hra-hover-box{
  width: 110px;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 0;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 80%;
  background-color: black;
  color: white;
  display: none;
}
.plus-icon {
  display: inline-block;
  width: 20px;
  height: 8px;
  position: relative;
  content: '';
  &::before{
    font-family: FontAwesome;
    content: '\f067';
    position: absolute;
    top: -8px;
    left: 3px;
  }
}
.downarrow {
  display: inline-block;
  width: 2px;
  height: 8px;
  position: relative;
  content: '';
  &::before{
    font-family: FontAwesome;
    content: '\f0d7';
    position: absolute;
    top: -8px;
    left: -8px;
  }
}
.avatar-icon{
  display: inline-block;
  width: 20px;
  height: 8px;
  position: relative;
  content: '';
  img{
    position: absolute;
    top: -5px;
    left: -6px;
  }
}
.main-content-row{
  padding-top: 18px;
}
#user-info{
  padding-right: 4%;
}
#avatar{
  border-radius: 8px;
  img{
    max-width: none;
    width: 100%;
  }
}
#user-ids, #user-meta, #user-social, #user-orgs{
  padding: 11px 0;
  border-bottom: 1px solid $border-lt-gray;
}
#user-orgs{
  border-bottom: none;
}
.full-name{
  font-weight: bold;
  font-size: 26px;
}
.user_handle{
  color: rgb(101, 101, 101);
  font-weight: lighter;
}
.text-trunc{
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon{
  padding-left: 25px;
  position: relative;
  margin-bottom: 12px;
  &::before{
    font-family: FontAwesome;
    color: darken($border-lt-gray, 50%);
    position: absolute;
    top: 3px;
    left: 0;
  }
}
#work::before{ content: '\f0c0'; };
#site::before{ content: '\f0c1'; };
#location::before{ content: '\f041'; };
#datejoined::before{ content: '\f017'; };
.user-social-item{
  width: 33%;
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  &:not(:first-of-type){
    margin-left: -4px;
  }
}
.user-socnum{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: $header-hover-color;
}
.user-socname{
  width: 100%;
  font-size: 10px;
  color: darken($border-lt-gray, 50%);
}
.orgs-title{
  margin-bottom: 18px;
  font-size: 17px;
  margin-top: 14px;
}
.user-org{
  width: 20%;
  display: inline-block;
  padding: 0 2px;
  img{
    border-radius: 3px;
  }
  &:not(:first-of-type){
    margin-left: -4px;
  }
}
#tabs{

}
.tabs-row{
  border-bottom: 1px solid $border-lt-gray;
}
.control-tabs-list{
  position: relative;
  display: inline-block;
  width: 100%;
}
.control-tab{
  display: inline-block;
  font-size: 100%;
  color: black;
  padding: 12px 12px 12px 30px;
  text-align: center;
  margin: 0;
  &:not(:last-of-type){
    margin-right: 1%;
  }
  &::before{
    font-size: 115%;
    top: 11px;
    left: 10px;
  }
}
.tabs-row-tab-holder{
  @include make-md-column(10);
}
.tabs-row-button-holder{
  @include make-md-column(2);
  text-align: right;
}
.active-tab{
  border-left: 1px solid $border-lt-gray;
  border-top: 1px solid $border-lt-gray;
  border-right: 1px solid $border-lt-gray;
  background: white;
  position: relative;
  top: 1px;
}
#contributions::before{ content: '\f196'; };
#repositories::before{ content: '\f02d'; };
#public::before{ content: '\f09e'; };
.btn-default{
  background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238));
}
.btn-success{
  background-image: linear-gradient(rgb(138, 218, 98), rgb(97, 175, 56));
}

#profile-edit{
}
.content-tab{
  height: 250px;
  display: none;
}
.active{
  display: block;
}
.repo-buttons{
  padding: 12px 0;
}
#repo-sort{
  @include make-md-column(7);
  text-align: right;
  li{
    display: inline-block;
    height: 34px;
    &:not(:first-of-type){
      margin-left: 10px;
    }
  }
  button{
    height: 34px;
  }

}
#repo-search{
  @include make-md-column(5);
  height: 34px;
  input, button{
    height: 34px;
    border-radius: 3px;
  }
  input{
    padding-left: 8px;
    width: 70%;
  }
  button{
    width: 26%;
  }
}
.forked-icon, .star-icon{
  width: 10px;
  content: ' ';
  position: relative;
  display: inline-block;
  &::before{
    position: absolute;
    font-family: FontAwesome;
    top: -10px;
    left: 0;
  }
}
.forked-icon::before{
    content: '\f126';
}
.star-icon::before{
    content: '\f005';
}
#repo-listings{
  margin-bottom: 20px;
}
.repo-listing{
  @include make-xs-column(12);
  padding: 20px 0;
  color: darken($border-lt-gray, 40%);
  border-bottom: 1px solid $border-lt-gray;
}
.repo-listing-holder{
  @include make-row();
}
.repo-info-left{
  @include make-md-column(9);
  position: relative;
}
.repo-info-right{
  @include make-md-column(3);
  text-align: right;
  font-weight: bold;
  .repo-icon::before{
    top: -14px;
  }
  a{
    color: darken($border-lt-gray, 40%);
  }
}
.repo-title{
  font-size: 20px;
  margin-bottom: 13px;
}
.repo-forked{
  font-size: 12px;
  margin-bottom: 10px;
}
.repo-description{
  font-size: 14px;
  margin-bottom: 10px;
}
.repo-fork-holder, .repo-star-holder{
  margin-left: 8px;
}
.repo-graph-holder{
  position: absolute;
  right: 0;
  left: 0;
  bottom: -20px;
  z-index: -1;
  .bars{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.bar{
  display: inline-block;
  width: 1.92%;
  position: absolute;
  bottom: 0;
  &:not(:first-of-type){
    margin-left: -4px;
  }
}
.bar-loop-0{
  background-color: rgb(222, 222, 222);
}
.bar-loop-1{
  background-color: rgb(248, 248, 248);
}
.footer-row{
  border-top: 1px solid $border-lt-gray;
  padding: 20px 0;
}
.footer-left, .footer-right{
  @include make-md-column(5);

}
.footer-center{
  @include make-md-column(2);
  text-align: center;
  a{
    color: rgb(202, 202, 202);
    &:hover{
      color: rgb(187, 187, 187);
    }
  }
}
.footer-item{
  display: inline-block;
  padding: 8px;
  font-size: 12px;
}
.footer-right{
  text-align: right;
}
.modal{
  input{
    height: 30px;
    display: inline-block;
  }
  .dropdown{
    height: 30px;
  }
}
.name-form{
  padding-top: 30px;
  display: inline-block;
}
.repo-name-side{
  width: 50%;
}
.new-repo-title{
  font-weight: bold;
  font-size: 13px;

}
.radio-holder{
  width: 80%;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}
#new-repo-name{
  width: 100%;
}
.divider{
  border-bottom: 1px solid $border-lt-gray;
  margin: 10px 0;
}
.repo-inline{
  margin-top: 10px;
  display: inline-block;
}
.dropdown-menu{
  max-height: 300px;
  overflow-y: scroll;
  input{
    width: 85%;
    display: block;
    margin: 0 auto;
  }
}
.dd-header{
  padding: 0 5%;
}
.dd-selected{
  position: relative;
  &::before{
    position: absolute;
    font-family: FontAwesome;
    content: '\f00c';
    top: 3px;
    left: 3px;
  }
}
