<!DOCTYPE html>
<button type="button" id="github-login" class="btn btn-success">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Login To Your GitHub Account
</button>
<div class="or">or</div>
<div class="user-search">
  <input type="text" id="user-search-input" placeholder="find a github user...">
  <button type="button" id="user-search-submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Search For A GitHub User Account
  </button>
</div>
